params {
    input = 'test_data'
    batch_name = null
    min_contig_length = 1000
    target_genus_taxid = 482
    target_species_taxid = 485
    qc_control_sample_pattern = null
    kraken2_db = null
    use_reassembly_for = []
    prokka_genus = null
    ariba_db = null
    pyngost_db = null
    pyngost_exclude_samples = null
    snippy_reference = null
    snippy_mask = null
    snippy_core_exclude_samples = null
    run_phylogeny = false
    run_assembly_mapped_snippy = false
}

profiles {
    local {
    }
    docker {
    }
    singularity {
    }
}
